.Rproj.user
.Rhistory
.RData
.Ruserdata
images/RAW-Model-Output.pptx
.DS_Store
example-Presenation.pptx
example-Presenation.pdf
example-Presentation.pptx
example-Presentation.pdf
example-Presentation.html
